<div class="container">
  <div class="top-bar">
    <!-- LOGO -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- NAVIGATION -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li>
          <a href="" class="navbar__link"
            >Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
        </li>
        <li>
          <a href="" class="navbar__link"
            >Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
        </li>
        <li>
          <a href="" class="navbar__link"
            >Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
        </li>
      </ul>
    </nav>
    <!-- ACTION-BTN -->
    <div class="top-action">
      <!-- group 1 -->
      <div class="top-action__group top-action__group--single">
        <button class="top-action__btn">
          <img
            src="./assets/icons/search.svg"
            alt="search icon"
            class="icon top-action__icon"
          />
        </button>
      </div>
      <!-- group 2 -->
      <div class="top-action__group">
        <!-- btn 1 - group 2 -->
        <button class="top-action__btn">
          <img
            src="./assets/icons/heart.svg"
            alt="heart icon"
            class="icon top-action__icon"
          />
          <span class="top-action__title">03</span>
        </button>
        <!-- Separate line -->
        <div class="top-action__separate"></div>
        <!-- btn 2 - group 2 -->
        <button class="top-action__btn">
          <img
            src="./assets/icons/shop.svg"
            alt="shop icon"
            class="icon top-action__icon"
          />
          <span class="top-action__title">$65.42</span>
        </button>
      </div>
      <!-- Avatar -->
      <div class="top-action__user">
        <img
          src="./assets/img/avartar.jpg"
          alt="avartar"
          class="top-action__avatar"
        />
      </div>
    </div>
  </div>
</div>
