html.dark {
  // --text-color: #1a162e;
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(16%)
    saturate(0%) hue-rotate(81deg) brightness(107%) contrast(102%);
  --header-bg-color: #171c28;
  --header-shadow-color: rgba(0, 0, 0, 0.2);
  --top-action-group-bg-color: #292e39;
  --top-action-group-shadow-color: rgba(0, 0, 0, 0.2);
  --top-action-group-separate: #ededf6;
  --body-bg-color: #292e39;
  //   DROP DOWN
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(34%)
    saturate(428%) hue-rotate(186deg) brightness(96%) contrast(85%);

  //   DROP DOWN - - TOP MENU - - MAIN
  --top-meunu-border-color: #171c28;
}
