// place holder
%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  background: #eeeeee;
}

.top-bar {
  padding: 30px 0px;
  @extend %flexItemsCenter;
}

.navbar {
  margin-right: auto;
  margin-left: 144px;

  &__list {
    @extend %flexItemsCenter;
    gap: 30px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
}

.top-action {
  @extend %flexItemsCenter;
  gap: 20px;
  &__group {
    @extend %flexItemsCenter;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    min-width: 50px;
    height: 50px;
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    padding: 13px 20px;
    @extend %flexItemsCenter;
    gap: 10px;
    // animation
    cursor: pointer;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: #ededf6;
  }

  &__avatar {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    // animation
    cursor: pointer;
  }
}
