.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  display: none;
  &__inner {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px --dropdown-shadow-color;

    &::before {
      content: url("../icons/arrow-dropdown.svg");
      position: absolute;
      top: -10px;
      left: var(--arrow-left-pos);
      translate: -50;
      filter: var(--dropdown-arrow-color);
    }
  }
}
